.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00c300;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-button img {
    width: 30px;
    height: 30px;
}
