.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  /* background: #36b9c1; */
  /* background: linear-gradient(#141e30, #243b55); */
  background-color: #ffffff;
  
}

.homepage-background {
  /* 设置背景图片的URL */
  background-image: url('https://images.pexels.com/photos/1080721/pexels-photo-1080721.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); 
  /* background: linear-gradient(#141e30, #243b55); */
  background-size: cover; /* 让背景图片覆盖整个容器 */
  background-repeat: no-repeat; /* 防止背景图片重复显示 */
  background-position: center; /* 将背景图片居中 */
  /* 可以添加其他背景样式属性，例如背景颜色、透明度等 */
}

.wave {
  width: 700px;
  height: 700px;
  opacity: 0.4;
  position: absolute;
  left: 0;
  background: #ff9912;
  border-radius: 40%;
  /* transform-origin: 50% 48%; */
  transition: left 2s;
  animation: drift 6000ms infinite linear;
  margin-left: 280px;
}
.wave.-three {
  animation: drift 7000ms infinite linear;
  margin-left: 270px;
}

.wave.-two {
  animation: drift 10000ms infinite linear;
  background-color: yellow;
  opacity: 0.1;
  margin-left: 260px;
}

.wave.right {
  margin-top: -250px;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.namecard:hover {
  transform: translate3d(-5px, -5px, 0);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  /* 滑鼠碰觸時讓卡片向左上飄移 */
}

.namecard:hover .wave.right {
  left: 70px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
/*   background: #f4e8c0; */
  /* background: rgba(0,0,0,.5); */
  /* background: #FFDC35; */
  background: linear-gradient(#FFDC35, #f4e8c0);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  /* --------------------------------------------------- */
  transition: all 0.5s; /* transition 教課時記得寫完動畫再加上此屬性*/
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #000000;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #ffffff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #F75000);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #F75000);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #F75000);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #F75000);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.login-box .submit {
   display: flex;
   justify-content: center;
   align-items: center;

}

/* 搜尋按鈕的css */



.search-input {
  padding: 0.5rem;
  background: var(--grey-200);
  background-color: #f28500;
  border-radius: var(--borderRadius);
  border-color: transparent;
  letter-spacing: var(--letterSpacing);
}

.input-form {
  display: flex;
  justify-content: center;
}

.search2-input {
  padding: 0.5rem;
  background: var(--grey-200);
  background-color: #87CEFA	;
  border-radius: var(--borderRadius);
  border-color: transparent;
  letter-spacing: var(--letterSpacing);
}

.input-form {
  display: flex;
  justify-content: center;
}

